.btn {
    letter-spacing: .75px;
    width: 125px;
    height: 50px;
    background: var(--accent);
    outline: none;
    border: none;
    color: var(--background);
    transition: all .35s ease;
    font-weight: 500;
    border-radius: 25px;
    margin: 7px auto;
}

.btn:hover {
    background: rgba(0, 77, 36, .5);
}