:root {
    --text: #1d2d44;
    --background: #F3EEEA;
    --primary: #95d5b2;
    --secondary: #FAEED1;
    --accent: #004d24;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: var(--background);
}